<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-grpc" version="1.0.0">
   <name>GrpcWrapper</name>
   <js-module name="GrpcWrapper" src="www/GrpcWrapper.js">
      <clobbers target="GrpcWrapper" />
   </js-module>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="GrpcWrapper">
            <param name="ios-package" value="GrpcWrapper" />
         </feature>
      </config-file>
   </platform>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="GrpcWrapper">
            <param name="android-package" value="cordova.plugin.grpc.GrpcWrapper" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/GrpcWrapper.java" target-dir="src/cordova/plugin/grpc" />
   </platform>
</plugin>
